<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="wicketExtensionsWizardHeaderTitle">
		<div wicket:id="mediaPanelTitle"></div>
	</div>
	<div class="wicketExtensionsWizardHeaderSummary">
		<div wicket:id="mediaPanelSummary"></div>
	</div>
	<fieldset class="imageDetails">
    	<div>
    		<label><i class="hint-font icon-asterisk"></i> <span wicket:id="mediaLabel"></span></label>
 			<select wicket:id="availableMedia"><option>Default Media</option></select>
    	</div>
		<iframe wicket:id="uploaderIFrame" width="325" height="110" scrolling="no"></iframe>
	</fieldset>
</wicket:panel>
