<html xmlns:wicket="http://wicket.apache.org">

	<wicket:head>
		<link rel="stylesheet" type="text/css" href="/css/kendo/kendo.common.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/kendo/kendo.default.min.css"/>
	</wicket:head>
	
	<wicket:panel xmlns:wicket="http://wicket.apache.org">
		<b>Edit Properties</b><br/>
		<form wicket:id="form" class="properties-combobox-frame" >
			<input type="text" wicket:id="combobox" />
			<input type="text" class="p-value" wicket:id="pvalue" />
			<a class="btn" wicket:id="button">Save</a>
		</form>
		
	</wicket:panel>
</html>
