.header
{
	max-width: 730px;
	margin: 0 auto;
	text-align: center;
}

.appicon
{
	margin: 10px 0 0;
}

.appicon a
{
	display: inline-block;
	height: 81px;
}
.appicon a.download img
{
	margin-bottom: 35px;
}

.mobile .appicon a
{
	height: auto;
}

.mobile .appicon a.download img
{
	margin-bottom: 0px;
}