
.mobile {
	padding: 0 20px 20px;
}
.services li {
	text-align: left;
	margin-bottom: 15px;
}
.services li b {
	display: block;
}

.corp h2 {
	text-align: center;
	font-family: MarkerFelt, MarkerFelt-Thin;
	font-weight: normal;
	margin-top: 40px;
	font-size: 24px;
}
.feedback {
	max-width: 320px;
	margin: 0 auto;
	text-align: center;
}
.feedback textarea {
	width: 280px;
	height: 250px;
}