
.deal2 {
	width: 320px;
	height: 543px;
	border:1px solid black;
	position: relative;
	overflow:hidden;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.deal2 .nav,
.newMerchant .nav {
	text-align: center;
	color: white;
	font-weight: bold;
	line-height: 40px;
	height: 40px;
}
.newMerchant .mapPanel
{
	position: absolute;
	top: 30px;
	right: 15px;
}
.newMerchant .mapPanel .nav {
	width: 320px;
	margin-left: 10px;
	height: 65px;
}

.deal2 .image 
{
	margin: 0;
	height: 95px;
	position: relative;
	overflow: hidden;
}

table.actionbar
{
	margin: 0;
}

table.actionbar td
{
	text-align: center;
}

.deal2 .location {
	height: 40px;
	padding: 8px 20px 0;
}

.deal2 .location .merchantLogo {
	float: right;
	max-height: 40px;
	max-width: 150px;
}

.deal2 .footer .dealOfferLogo {
	max-height: 30px;
	max-width: 150px;
}

.deal2 .location .address {
	font-size: 9px;
}

.deal2 .details .summary {
	text-align: center;
	padding: 30px 20px;
	font-family: "MarkerFelt";
	font-weight: bold;
	font-size: 24px;
}

.deal2 .details .restrictions {
	background-repeat: no-repeat;
	height: 89px;
	font-family: "MarkerFelt";
	font-weight: normal;
}
.deal2 .details .restrictions div {
	text-align: center;
	padding: 0 20px;
}

.deal2 .details .title {
	display: none;
}

.deal2 .footer {
	background-repeat: no-repeat;
	height: 40px;
	padding:0 20px 0;
}

.deal2 .footer .expires {
	font-size: 9px;
	float: right;
	line-height: 40px;
}

.dealList .deal {
	background-repeat: no-repeat;
	height: 60px;
	padding:0;
	margin-left: 15px;
}