.merchantWiz .panel {
	height: 400px;
	width: 375px;
}
.merchantWiz .panel .map {
	height: 325px;
	width: 375px;
}
.merchantWiz .locationList .location {
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 10px;
	position: relative;
}
.merchantWiz .locationList .location .actions {
	position: absolute;
	top: 10px;
	right: 5px;
}
.newMerchant {
	padding: 0;
	width: 860px;
	margin: 0 auto;
}

.newMerchant h2 {
	background: orange;
	color:white;
	padding: 15px;
}
.newMerchant .panel {
	padding: 0 15px 15px;
	margin: 0 10px 5px;
}

.newMerchant .controls {
	margin: 20px 0 0;
	border-top:1px solid;
	padding: 10px 40px;
	clear: both;
	text-align: center;
}

.newMerchant .controls a,
.newMerchant .controls button {
	margin: 0 10px;
}

button.big {
	font-size: 20px
}

fieldset {
	border: none;
}
fieldset.imageDetails {

}
fieldset.templateDetails {

}
fieldset div {
	margin-bottom: 5px;
}
label {
	display: inline-block;
	padding: 0;
	margin: 5px 5px 0 0;
	width: 100px;
	vertical-align: top;
}
input, select, textarea {
	display: inline-block;
	padding: 5px;
	margin: 0 0 0 0;
	width: 200px;
}
select {
	width: 215px;
	margin-top: 5px;
}
textarea {
	width: 200px;
	height: 50px;
}
input.chbx {
	width: auto;
	margin: 0 5px 15px 0;
}
optgroup {
	color:red;
}

optgroup option {
	color: black;
}
.radioGroupContainer {
	margin: 15px 0 0;
}
.radioGroup {
	display: inline-block;
	margin: 5px 0 0 0;
}
.radioGroup input {
	width: auto;
	margin-right: 5px;
}
.radioGroup label {
	width: auto;
	margin: 0 15px 0 0;
}
.selectBoxEdit {
	padding: 10px 5px 10px 110px;
}
.selectBoxEdit a {
	display:inline-block;
}
.conditionsBlock {
	display: inline-block;
}
.conditionsBlock input.chbx {
	margin-top: 7px;
}
.conditionsContainer {
	display: none;
}
.conditionsContainer.show {
	display: block;
}



