.mw {
	background: #ebebeb;
}
.gift {
	padding: 10px;
	min-width: 320px;
	max-width: 750px;
	margin: 0px auto;
}
.mw .gift {
	width: 320px;
	padding:0;
}
.mw .gift .details h1 {
	margin: 10px;
}

.mw .gift .details table {
	margin: 10px 0 30px;
}

.gift #debug {
	position: fixed;
	bottom: 5px;
	left: 5px;
	padding: 10px;
	background: pink;
	display: none;
}

.mw #debug {
	display:none;
}

.gift .box {
	border: 2px solid #ddd;
	border-radius: 7px;
	padding: 3px;
	margin: 10px;
	background: #fff;
}

.mw .gift .box {
	border:none;
	padding:0 0 20px;
	margin:0;
}

.gift .box .wrapping {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
}

.mw .gift .box .wrapping {
	padding:0;
	border:none;
}

.gift h1 {
	text-align: center;
}

.gift table td {
	padding-bottom: 10px;	
	text-align: left;
	font-size: 14px;
}

.gift table .label {
	width: 100px;
	text-align: right;
	font-size: 13px;
	padding: 0 10px 0 0;
	vertical-align: top;
}

.gift .footer {
	margin: 15px 5px 40px;
	text-align: center;
	font-size: 10px;
}

.gift .footer .links {
	margin: 0 0 10px;
}
