@font-face {
  font-family: 'MarkerFelt';
  src: url('../font/MarkerFelt_Normal.ttf'); format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MarkerFelt';
  src: url('../font/MarkerFeltWide_Regular.ttf'); format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: verdana;
    font-size:12px;
    background: #fff;
    margin: 0;
    padding: 0;
}

.content {
	padding: 5px 10px 40px;
	margin: 5px 20px;
}

.header {
	padding: 10px 25px;
	position: relative;
}
.header canvas {
	display:block;
}

h2 {
	margin: 0 0 20px;
}

iframe {
	border:none;
}

/* GLOBAL MENU BAR */
.menu {
	color: white;
	list-style: none;
	margin: 0 0 25px 0;
	padding: 2px 30px 2px 20px;
	border-top: 1px solid;
}
.menu li {
	display: inline-block;
	padding: 8px 5px;
	margin-right: 20px;
}

/* USER INFO BUTTON */
.userInfo {
	text-align: right;
	margin-right: 0;
	padding: 0;
	position: absolute;
	top: 17px;
	right: 25px;
}
a {
	text-decoration: none;
}
body.talool .menu a, 
body.talool .menu a:visited {
	color: white;
}
.menu em {
	font-weight: bold;
	font-style: normal;
	background: rgb(153, 134, 117);
	border: 1px solid rgb(153, 134, 117);
	padding: 5px 10px;
	border-radius: 10px;
	color: white;
}


/* COLORS */
.orange-font, 
body .orange-font a, 
body .orange-font a:visited,
body.talool a, 
body.talool a:visited {
	color: rgb(241, 90, 36);

}
.orange-bg {
	background-color: rgb(241, 90, 36);
	color: white;
}
.red-font, .red-font a, .red-font a:visited {
	color: rgb(237, 28, 36);
}
.red-bg {
	background-color: rgb(237, 28, 36);
	color: white;
}
.teal-font, .teal-font a, .teal-font a:visited {
	color: rgb(25, 188, 185);
}
.teal-bg {
	background-color: rgb(25, 188, 185);
	color: white;
}
.green-font, .green-font, .green-font a:visited {
	color: rgb(80, 185, 72);
}
.green-bg {
	background-color: rgb(80, 185, 72);
	color: white;
}
.gray0-font, .gray0-font a, .gray0-font a:visited {
	color: #eee;
}
.gray0-border {
	border-color:  #eee;
}
.gray0-bg {
	background-color: #eee;
	color: black;
}
.gray1-font, .gray1-font a, .gray1-font a:visited {
	color: rgb(185, 172, 151);
}
.gray1-border {
	border-color:  rgb(185, 172, 151);
}
.gray1-bg {
	background-color: rgb(185, 172, 151);
}
.gray2-font, .gray2-font a, .gray2-font a:visited {
	color: rgb(153, 134, 117);
}
.gray2-border {
	border-color:  rgb(153, 134, 117);
	color: white;
}
.gray2-bg {
	background-color: rgb(153, 134, 117);
}
.gray3-font, .gray3-font a, .gray3-font a:visited {
	color: rgb(115, 99, 81);
}
.gray3-border {
	border-color:  rgb(115, 99, 81);
}
.gray3-bg {
	background-color: rgb(115, 99, 81);
	color: white;
}
.gray4-font, .gray4-font a, .gray4-font a:visited {
	color: rgb(83, 71, 65);
}
.gray4-border {
	border-color:  rgb(83, 71, 65);
}
.gray4-bg {
	background-color: rgb(83, 71, 65);
	color: white;
}
.gray5-font, .gray5-font a, .gray5-font a:visited {
	color: rgb(54, 47, 45);
}
.true-gray-font, .true-gray-font a, .true-gray-font a:visited {
	color: rgb(190, 190, 190);
}
body.talool .btn.btn-primary {
	background-image: linear-gradient(to bottom,#fff,#ddd);
	background-image: -moz-linear-gradient(top,#fff,#ddd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ddd));
	background-image: -webkit-linear-gradient(top,#fff,#ddd);
	background-image: -o-linear-gradient(top,#fff,#ddd);
	border: 1px solid #bbb;
	color: rgb(241, 90, 36);
}
body.talool .btn.btn-primary:hover {
	background-image: linear-gradient(to bottom,#fff,#ccc);
	background-image: -moz-linear-gradient(top,#fff,#ccc);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ccc));
	background-image: -webkit-linear-gradient(top,#fff,#ccc);
	background-image: -o-linear-gradient(top,#fff,#ccc);
}
body.talool .btn.btn-action {
	background-image: linear-gradient(to bottom,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	background-image: -moz-linear-gradient(top,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(25, 188, 185, .6)),to(rgb(25, 188, 185)));
	background-image: -webkit-linear-gradient(top,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	background-image: -o-linear-gradient(top,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	border: 1px solid rgb(25, 188, 185);
	color: white;
	text-shadow: 0 1px 1px rgba(185, 172, 151,.75);
}
body.talool .btn.btn-action:hover {
	background-image: linear-gradient(to bottom,rgba(25, 188, 185, .7),rgb(25, 188, 185));
	background-image: -moz-linear-gradient(top,rgba(25, 188, 185, .7),rgb(25, 188, 185));
	background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(25, 188, 185, .7)),to(rgb(25, 188, 185)));
	background-image: -webkit-linear-gradient(top,rgba(25, 188, 185, .7),rgb(25, 188, 185));
	background-image: -o-linear-gradient(top,rgba(25, 188, 185, .7),rgb(25, 188, 185));
}
.hint-font {
	color: rgba(25, 188, 185,.5);
}
.optional-font {
	color: rgba(25, 188, 185, 0);
}

/* FEEDBACK PANEL */
.feedbackPanel {                          
    border: 1px solid #099;
    background-color: #eff;
    color: #099;
}

div.error ul.feedbackPanel {         
    background-color: #fee;
    border: 1px solid #900;
    color: #900;
}

div.info ul.feedbackPanel {           
    border: 1px solid #090;
    background-color: #efe;
    color: #090;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Modal Window Overrides */
body div.wicket-modal div.w_caption {
	height: 2.4em
} 
body div.wicket-modal h3.w_captionText {
	font-size: 1.6em;
	color: rgb(241, 90, 36);
	top: 5px;
}

/* BUTTONS */
.btn {
	display: inline-block;
	line-height: 20px;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-box-shadow: inset 0 1px 0 rgba (255,255,255.2), 0 1px 2px rgba (0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba (255,255,255.2), 0 1px 2px rgba (0,0,0,.05);
	text-decoration: none;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbb;
}
.btn-large {
	font-size: 18px;
	padding: 8px 15px;
}
.btn-group {
	position: relative;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
	white-space: nowrap;
}
.btn-group>.btn:first-child {
	margin-left: 0;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 14px;
}
.btn-group>.btn {
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.btn-group>.btn+.dropdown-toggle {
	padding-left: 8px;
	padding-right: 8px;
	-webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125),inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125),inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 1px 0 0 rgba(255,255,255,.125),inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}
.btn-group>.btn+.btn {
	margin-left: -1px;
}
.btn-group>.btn:last-child, .btn-group>.dropdown-toggle {
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	right: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #eee;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	text-align: left;
}
.open .dropdown-menu {
	display: block;
}
.dropdown-menu li {
	display: block;
	color: black;
	padding: 5px 20px 5px 10px;
}
.open .dropdown-menu li a {
	color: rgba(0,0,0,.8);
	display: block;
}
.open .dropdown-menu li a i {
	margin-right: 5px;
}
.open .dropdown-menu li a:hover {
	color: black;
}
.dropdown-menu .divider {
	height: 1px;
	margin: 9px 1px;
	overflow: hidden;
	background-color: rgba(0,0,0,.2);
	border-bottom: 1px solid #fff;
	padding: 0;
}

/* RANDOM STUFF */

.clear {
	clear: right;
}
.right {
	float:right;
}

.left {
	float:left;
}
.icon {
	display: inline-block;
	margin-right: 10px;
}
.note {
	text-align: left;
	background: yellow;
	border: 1px solid;
	padding: 15px;
	margin-right: 20px;
}
