body {
    font-family: verdana;
    font-size:12px;
    background: #fff;
    margin: 0;
    padding: 0;
}

.content {
	padding: 5px 10px 40px;
	margin: 5px 20px;
}

h1.header {
	background: orange;
	color: white;
	padding: 10px 15px;
	margin: 0;
	font-size: 36px;
}

h2 {
	margin: 0 0 20px;
}
.menu {
	background: #aaa;
	color: white;
	list-style: none;
	margin: 0 0 25px 0;
	padding: 0 10px;
}
.menu li {
	display: inline-block;
	padding: 5px;
}

.menu a {
	color: white;
	text-decoration: none;
}
.right {
	float:right;
}

.left {
	float:left;
}
.menu em {
	font-weight: bold;
	font-style: normal;
	background: #ddd;
	border: 1px solid #ddd;
	padding: 0 10px;
	border-radius: 10px;
	color: black;
}

.clear {
	clear: right;
}

.note {
	text-align: left;
	background: yellow;
	border: 1px solid;
	padding: 15px;
	margin-right: 20px;
}

.feedbackPanel {                          
    border: 1px solid #099;
    background-color: #eff;
    color: #099;
}

div.error ul.feedbackPanel {         
    background-color: #fee;
    border: 1px solid #900;
    color: #900;
}

div.info ul.feedbackPanel {           
    border: 1px solid #090;
    background-color: #efe;
    color: #090;
}

/* Modal Window Overrides */
body div.wicket-modal div.w_caption {
	height: 2.4em
} 
body div.wicket-modal h3.w_captionText {
	font-size: 1.6em;
	color: orange;
	top: 5px;
}