.hp {
	padding: 0;
	margin: 20px auto;
	width: 950px;
	background-color: white;
	font-size:16px;
}

.hp a 
{
	color: rgb(25, 188, 185);
}

.hp .header {
	padding: 10px 40px;
	background-image: linear-gradient(to bottom,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	background-image: -moz-linear-gradient(top,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(25, 188, 185, .6)),to(rgb(25, 188, 185)));
	background-image: -webkit-linear-gradient(top,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	background-image: -o-linear-gradient(top,rgba(25, 188, 185, .6),rgb(25, 188, 185));
	border: 1px solid rgb(25, 188, 185);
	color: white;
	text-shadow: 0 1px 1px rgba(185, 172, 151,.75);
}

.hp h2 {
	margin-top: 30px;
	font-family: MarkerFelt, MarkerFelt-Thin;
	font-weight: normal;
	font-size: 32px;
}

.hp h3 {
	margin-top: 30px;
	font-size: 18px;
}

.hp .appDesc 
{
	padding: 10px 450px 10px 60px;
	height: 690px;
	background: url(/img/homepage/iPhone5Vancouver3.png) no-repeat left -50px;
}

.hp .partnershipDesc 
{
	padding: 10px 40px;
}
.hp .footer
{
	text-align: left;
	padding: 10px 0;
	font-size: 12px;
}
.hp .footer span
{
	float: right;
}

.hp .benefitsDesc
{
	padding: 10px 40px;
	border-top: 1px solid;
}