.hp {
	padding: 0;
	margin: 0px auto;
	width: 950px;
	background-color: white;
	font-size:16px;
}

.hp a 
{
	color: rgb(25, 188, 185);
}

.hp .header {
	padding: 20px 55px 10px 40px;
	position: relative;
}
.hp .header .logo {
	position: absolute;
	top:20px;
	left:40px;
}
.hp .header .nav {
	line-height: 50px;
	margin-left: 220px;
}

.hp .header .nav em
{
	font-style: normal;
	font-weight: normal;
	color: rgb(25, 188, 185);
	margin: 0 0 0 30px;
}

.hp .header .nav a, 
.hp .header .nav a:hover, 
.hp .header .nav a:visited {
	margin: 0 0 0 30px;
	color: rgb(153, 134, 117);
}

.hp .appicons
{
	margin-top: 70px;
	text-align: center;
}
.hp .appicons a
{
	display: inline-block;
	margin: 0 10px;
}

.hp h1 {
	margin-top: 30px;
	font-weight: bold;
	font-size: 36px;
}
.hp h2 {
	margin-top: 30px;
	font-weight: normal;
	font-size: 32px;
}
.hp h3 {
	margin-top: 30px;
	font-size: 18px;
}
.hp .learnMore {
	text-align: center;
	padding: 30px 20px;
}

.hp .learnMore h2
{
	margin-top: 0;
}

.hp .learnMore a
{
	margin: 0 20px;
}

.hp .appDesc 
{
	padding: 10px 450px 10px 60px;
	height: 690px;
	background: url(/img/homepage/iPhone5Vancouver3.png) no-repeat left -50px;
}

.hp .platformBenefits, 
.hp .content 
{
	padding: 10px 40px 30px;
}
.hp .footer
{
	text-align: left;
	padding: 10px 0;
	font-size: 12px;
	margin-bottom: 100px;
}
.hp .footer span
{
	float: right;
}
.hp .footer.gray2-font, .hp .footer.gray2-font a, .hp .footer.gray2-font a:visited {
	color: rgb(153, 134, 117);
}
.hp .benefitsDesc
{
	padding: 10px 40px;
	border-top: 1px solid;
}

.feedbackPanel
{
	margin: 50px 50px 20px;
}

.passwordRecovery
{
	margin: 50px 50px 200px;
}
.passwordRecovery table
{
	
}
.passwordRecovery td
{
	padding: 0 0 10px;
}
.passwordRecovery input.txt
{
	width: 230px;
	line-height: 28px;
	font-size: 16px;
}
.passwordRecovery label
{
	line-height: 28px;
	padding-right: 15px;
}

.passwordRecovery .btn
{
	vertical-align: top;
	margin-left: 15px;
}
.passwordRecovery .controls
{
	text-align: right;
}