
ul.thumbnails.image_picker_selector {
	overflow: auto;
  	list-style-image: none;
  	list-style-position: outside;
  	list-style-type: none;
  	padding: 5px 0 0 5px;
  	margin: 0px; 
  	border-bottom: 1px solid rgba(215, 215, 215, 1);
}

.wiz ul.thumbnails.image_picker_selector {
	height: 450px;
}

.shortMediaPicker ul.thumbnails.image_picker_selector 
{
	height: 150px;
}

ul.thumbnails.image_picker_selector ul {
    overflow: auto;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
}
ul.thumbnails.image_picker_selector li.group_title {
    float: none; 
}
ul.thumbnails.image_picker_selector li {
    margin: 0px;
    float: left; 
}
ul.thumbnails.image_picker_selector li .thumbnail {
    padding: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    margin: 0;
    display: inline-flex;
    border: 3px solid rgba(241, 90, 36, 0);
}
ul.thumbnails.image_picker_selector li .thumbnail img {
    -webkit-user-drag: none;
    max-height: 34px;
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
    border: 3px solid rgb(241, 90, 36);
}