
table {
	width: 100%;
	padding: 0;
	margin: 0 0 30px 0;
	border-collapse:collapse; 
	border-spacing: 0;
}

thead {
	text-align: left;
}

th {
	padding: 15px 10px 5px;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

tbody td {
	padding: 10px;
	margin: 0;
}
tbody td.limit-max {
	max-width: 300px;
	overflow: hidden;
}
.odd-row-bg
{
	background-color: rgba(220,220,220,.2);
}
tr
{
	border-bottom: 1px solid rgba(230,230,230,1);
}
.tabPanelContainer {
	padding: 5px;
}
.content {
	position: relative;
	padding: 5px;
}
.actions {
	position: absolute;
	right: 35px;
	top: 15px;
}

.actionCol {
	width: 125px;
	text-align: right;
}

/* Deals */
td.dealListItem .title
{
	font-weight: bold;
}
td.dealListItem .summary
{
	padding: 5px 0;
}
td.dealListItem .details
{
	color: rgba(180,180,180,1);
	font-style: italic;
}

/* TAB OVERRIDES */
div.tabpanel div.tab-row ul {
    background: url("/img/tab_bottom.gif") repeat-x scroll center bottom transparent; 
    height: 20px;
    margin: 0;
    padding-left: 10px;
}
div.tabpanel div.tab-row li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.tabpanel div.tab-row a:link, div.tabpanel div.tab-row a:visited {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #CCCCCC;
    color: #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    margin-right: 4px;
    padding: 2px 10px;
    text-decoration: none;
}
div.tabpanel div.tab-row li.selected a:visited {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: #EB8F00;
}
div.tabpanel div.tab-row li.selected a:link {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    color: #EB8F00;
}
div.tabpanel div.tab-row a:hover {
    background: none repeat scroll 0 0 #FFFFFF;
}

.talool div.tabpanel div.tab-row li a {
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-image: linear-gradient(to bottom,#fff,#eee);
	background-image: -moz-linear-gradient(top,#fff,#eee);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));
	background-image: -webkit-linear-gradient(top,#fff,#eee);
	background-image: -o-linear-gradient(top,#fff,#eee);
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
}
.talool div.tabpanel div.tab-row li a:hover {
	background-image: linear-gradient(to bottom,#fff,#ddd);
	background-image: -moz-linear-gradient(top,#fff,#ddd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#ddd));
	background-image: -webkit-linear-gradient(top,#fff,#ddd);
	background-image: -o-linear-gradient(top,#fff,#ddd);
}
.talool div.tabpanel div.tab-row li.selected a,
.talool div.tabpanel div.tab-row li.selected a:hover {
	background: white;
	color: rgb(241, 90, 36);
	text-shadow: 0 1px 1px rgba(185, 172, 151,.3);
}
.talool div.tabpanel div.tab-row ul {
	height: 36px;
}

.listNav
{
	margin: 15px 0;
}

.listNav tr
{
	border-bottom: none;
}

.listNav td
{
	padding: 0;
}

.listNav .pagination
{
	text-align: right;
}

.listNav .pagination .navigator a,
.listNav .pagination .navigator em
{
	border: 1px solid;
	padding: 5px;
	border-radius: 3px;
}
.listNav .pagination .navigator em
{

}
.listNav .pagination .count
{
	margin-bottom: 15px;
	font-weight: bold;
}
.listNav .search input
{
	font-size: 15px;
}
.listNav .search .btn
{
	margin: -5px 0 0;
}

.listNav .bulkAction select
{
	margin-right: 10px;
	
	padding:7px 10px 10px;
    border-radius:3px;
    background: #f8f8f8;
    color:#888;
    border: 1px solid #bbb;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .listNav .bulkAction select {padding-right:18px}
}

.listNav .bulkAction label {
	position:relative;
}
.listNav .bulkAction label:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:17px; top:1px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.listNav .bulkAction label:before {
    content:'';
    right:12px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}