.cmain {
	position: absolute;
	top: 50%;
	left: 50%;
    width: 600px;
    height: 350px;
    margin: -175px 0 0 -300px;
}
.cmain td {
	padding: 0 0 5px 0;
} 
.cmain td,  .cmain input {
 	font-size: 18px;
 }
 
 .cmain canvas {
 	margin-bottom: 50px;
 }
 .cmain table {
 	margin: 0 auto;
 }
 
 .cmain input {
 	border: 1px solid white;
 	padding: 5px;
 	border-radius: 5px;
 }