.newMerchant {
	padding: 0;
	border: 1px solid;
	width: 800px;
	margin: 0 auto;
	background: #ebebeb;
}

.newMerchant h2 {
	background: orange;
	color:white;
	padding: 15px;
}
.newMerchant .panel {
	padding: 0 15px 15px;
	margin: 0 10px 35px;
}
.newMerchant .controls {
	margin: 20px 0 0;
	border-top:1px solid;
	padding: 10px 40px;
	background: orange;
	clear: both;
	text-align: center;
}

button.big {
	font-size: 20px
}

.newMerchant .panel .controls {
	margin: 20px 0 0;
	border:1px solid;
	background: #ddd;
	clear: both;
	text-align: right;
}

.panel .notes {
	border: 1px solid;
	background: yellow;
	padding: 20px;
	display: inline-block;
}
fieldset {
	border: none;
}
fieldset div {
	margin-bottom: 5px;
}
label {
	display: inline-block;
	padding: 0;
	margin: 5px 5px 0 0;
	width: 100px;
	vertical-align: top;
}
input, select, textarea {
	display: inline-block;
	padding: 5px;
	margin: 0 0 0 0;
	width: 200px;
}
textarea {
	width: 200px;
	height: 100px;
}
input.chbx {
	width: auto;
	margin-right: 5px;
}
optgroup {
	color:red;
}

optgroup option {
	color: black;
}
