.cubismContainer
{
	width: 1000px;
	margin: 30px 0;
	border: 1px solid #ddd;
}

svg {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.cubism
{
	position: relative;
}

.cubism div.chart {
  position: relative;
  padding: 0;
}

.cubism h3
{
	margin: 0px;
	padding:10px;
	background: #ddd;
}

.axis {
  font: 10px sans-serif;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizon {
  overflow: hidden;
  position: relative;
  border-top: solid 1px rgba(100,100,100,.5);
  border-bottom: solid 1px rgba(100,100,100,.5);
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: .2;
  z-index: 2;
}

.cubism select
{
	width: auto;
	float: right;
	margin: 10px;
}

.cubismContainer table
{
	margin: 0;
	background: #eee;
}

.cubismContainer table tr:hover
{
	background-color: rgba(25, 188, 185, 0.1);
}

.cubismContainer table th
{
	background: #ddd;
	text-align: left;
	padding: 10px;
	white-space: nowrap;
}

.cubismContainer table th.metricName
{
	width: 70%;
}