<wicket:panel>

	<wicket:child/>
	
	<input wicket:id="title" type="hidden"/>
    <input wicket:id="summary" type="hidden"/>
    
    <div>
    	<label><i class="optional-font icon-asterisk"></i> Conditions</label>
    	<div class="conditionsBlock">
	    	<div wicket:id="addMoreConditionsContainer">
		    	<input wicket:id="valid" type="checkbox" class="chbx"/> Include Standard Conditions
		    	<div class="conditionsEdit">
		    		<a href="#" wicket:id="addMoreConditions"><i class="icon-plus-sign icon-large"></i> manually add conditions</a>
		    	</div>
	    	</div>
	    	<div wicket:id="conditionsContainer" class="conditionsContainer">
		    	<textarea wicket:id="details" type="text"/>
			</div>
		</div>
    </div>
    
	
	
</wicket:panel>
