<wicket:panel>

	<wicket:child/>
	
	<input wicket:id="title" type="hidden"/>
    <input wicket:id="summary" type="hidden"/>
    
    <div>
    	<label><i class="optional-font icon-asterisk"></i> Conditions</label>
    	<div class="conditionsBlock">

	    	<textarea wicket:id="details" type="text"/>
	    	<div class="conditionsEdit">
	    		<a href="#" wicket:id="addDefaultConditions"><i class="icon-plus-sign icon-large"></i> use default conditions</a>
	    	</div>

		</div>
    </div>
    
	
	
</wicket:panel>
